#Ignore data, metrics, models, and images
data/raw_data/
data/processed_data/
metrics/
models/
images/



#track .dvc and .gitignore files
!data/*.dvc
!data/.gitignore
!data/raw_data/*.dvc
!data/raw_data/.gitignore
!data/processed_data/*.dvc
!data/processed_data/.gitignore
!metrics/*.dvc
!metrics/.gitignore
!models/*.dvc
!models/.gitignore
!images/*.dvc
!images/.gitignore